<h1>カテゴリー選択</h1>

<div class="register">
<%= link_to("練習", new_training_path, { method: :get, class: "btn-register1"}) %>
<%= link_to("試合", new_game_path, { method: :get, class: "btn-register2"}) %>
</div>