/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

.header {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.grid-61 {
  text-align: left;
  display: table-cell;
  color: #f86767;
  padding: 0.5em;
  line-height: 1.3;
  background: #faa26f;
  border-radius: 25px 0px 0px 25px;
}

.grid-61:before {
  content: '●';
  color: white;
  margin-right: 8px;
}


.a {
  text-decoration: none;
}

 .grid-62 {
   display: block;
   text-align: center;
 }

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding : 0;
}
h1{
  line-height: 160%;
  font-size: 160%;
  color: white;
  background-color: navy;
  font-weight: 900;
  text-align: center;
  margin: auto;
  padding: auto;
}

.head_left {
  display: inline-block;
  position: relative;
  padding: 0.35em 1em;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  text-decoration: none;
  margin-right: 400px;
}

.head_left:before {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  width: -webkit-calc(100% - 16px);
  width: calc(100% - 16px);
  height: 0;
  border: solid 8px transparent;
  border-bottom-color: #8eacec;/*ボタン色より明るめの色に*/
}

.head_left:active {
  /*押したとき*/
  padding: 0.32em 0.9em;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.head_left:active:before { 
  width: -webkit-calc(100% - 12px);
  width: calc(100% - 12px);
}

.head_left:active:before {
  top:-12px;
  border-width: 6px;
}

.head_right {
  display: inline-block;
  position: relative;
  padding: 0.35em 1em;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  text-decoration: none;
}

.head_right:before {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  width: -webkit-calc(100% - 16px);
  width: calc(100% - 16px);
  height: 0;
  border: solid 8px transparent;
  border-bottom-color: #8eacec;/*ボタン色より明るめの色に*/
}

.head_right:active {
  /*押したとき*/
  padding: 0.32em 0.9em;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.head_right:active:before { 
  width: -webkit-calc(100% - 12px);
  width: calc(100% - 12px);
}

.head_right:active:before {
  top:-12px;
  border-width: 6px;
}

.user_name {
  float: left;
  font-size: large;
  position: relative;
  padding: 0.25em 0;
}
.user_name:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

.user_name:before {
  content: "ユーザー名:";
}

.link_user_name {
  text-decoration: none;
}

.footer_message {
  display: flex;
  justify-content: center;
}

.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}