/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

.header {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(189, 200, 250);
}

.grid-6 {
  text-align: left;
  display: table-cell;
 }

.a {
  text-decoration: none;
}

 .grid-62 {
   display: block;
   text-align: center;
 }

 .head_left {
   margin-right: 20px;
   border: solid #CC3366;
   border-radius: 4px;
   padding: 6px;
   text-decoration: none;
   font-size: large;
 }

 .head_right {
   margin-left: 60px;
   border: solid #CC3366;
   border-radius: 4px;
   padding: 6px;
   text-decoration: none;
   font-size: large;
 }

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding : 0;
}
h1{
  line-height: 160%;
  font-size: 160%;
  color: white;
  background-color: navy;
  font-weight: 900;
  text-align: center;
  margin: auto;
  padding: auto;
}

