// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all_game {
  display: table-cell;
  vertical-align:center;
  height: 100%;
  width: 100%;
  text-align: center;
  display: inline;
}

.good_point {
  width: 20%;
}

.game_introspection {
  width: 20%;
}

.new_game {
  margin-top: 20px;
}