// Place all the styles related to the trainings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.parent {
  position: relative;
  height: 200px;
}

.new_training {
 position: absolute;
 height: 50px;
 width: 200px;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 font-size: 16px;
}

.field {
  margin: 15px;
}

.register_actions {
  text-align: center;
}

.success {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-top: 100px;
}

.update {
  justify-content: center;
  margin-bottom: 80px;
}